Repository work-room-umi/ld50-maingame, pull requests merged in 2022-04, with the labels that each got.

#80 Add PlayerShip
  Assets/Project/Prefabs/Log_A/Log_A_LOD0.prefab
  Assets/Project/Prefabs/Test.meta
  Assets/Project/Prefabs/Test/AttackSphere.prefab
  Assets/Project/Prefabs/Test/AttackSphere.prefab.meta
  Assets/Project/Prefabs/WoodenBoard_A/WoodenBoard_A_LOD0.prefab
  Assets/Project/Scenes/Sample.meta
  Assets/Project/Scenes/Sample/PlayerShipSystemSample.unity
  Assets/Project/Scenes/Sample/PlayerShipSystemSample.unity.meta
  Assets/Project/Scripts/Attack.cs
  Assets/Project/Scripts/Attack.cs.meta
  Assets/Project/Scripts/DrifterManager.cs
  Assets/Project/Scripts/Fix.cs
  Assets/Project/Scripts/Fix.cs.meta
  Assets/Project/Scripts/PlayerShip.cs
  Assets/Project/Scripts/PlayerShip.cs.meta
Labels: Script

#136 ボートの水しぶきエフェクトの追加
  Assets/Project/Prefabs/Effects.meta
  Assets/Project/Prefabs/Effects/BoatSplash.meta
  Assets/Project/Prefabs/Effects/BoatSplash/BoatSplash.prefab
  Assets/Project/Prefabs/Effects/BoatSplash/BoatSplash.prefab.meta
  Assets/Project/Prefabs/Effects/BoatSplash/Materials.meta
  Assets/Project/Prefabs/Effects/BoatSplash/Materials/CloudSplash.mat
  Assets/Project/Prefabs/Effects/BoatSplash/Materials/CloudSplash.mat.meta
  Assets/Project/Prefabs/Effects/BoatSplash/Materials/Smoke.mat
  Assets/Project/Prefabs/Effects/BoatSplash/Materials/Smoke.mat.meta
  Assets/Project/Prefabs/Effects/BoatSplash/Materials/WaterDot.mat
  Assets/Project/Prefabs/Effects/BoatSplash/Materials/WaterDot.mat.meta
  Assets/Project/Prefabs/Effects/BoatSplash/Materials/WhiteSplash.mat
  Assets/Project/Prefabs/Effects/BoatSplash/Materials/WhiteSplash.mat.meta
  Assets/Project/Prefabs/Effects/BoatSplash/Textures.meta
  Assets/Project/Prefabs/Effects/BoatSplash/Textures/CloudTex.png
  Assets/Project/Prefabs/Effects/BoatSplash/Textures/CloudTex.png.meta
  Assets/Project/Prefabs/Effects/BoatSplash/Textures/SplashTex.png
  Assets/Project/Prefabs/Effects/BoatSplash/Textures/SplashTex.png.meta
  Assets/Project/Prefabs/Effects/BoatSplash/Textures/WaterDot.png
  Assets/Project/Prefabs/Effects/BoatSplash/Textures/WaterDot.png.meta
  Assets/Project/Prefabs/PlayerShip/PlayerShip.prefab
Labels: Effect

#141 船まわりのエフェクト3種と、船の帆のディゾルブシェーダー作成。
  Assets/Project/Prefabs/Effects/EventEffects.meta
  Assets/Project/Prefabs/Effects/EventEffects/Break.prefab
  Assets/Project/Prefabs/Effects/EventEffects/Break.prefab.meta
  Assets/Project/Prefabs/Effects/EventEffects/HitRock.prefab
  Assets/Project/Prefabs/Effects/EventEffects/HitRock.prefab.meta
  Assets/Project/Prefabs/Effects/EventEffects/Materials.meta
  Assets/Project/Prefabs/Effects/EventEffects/Materials/BreakCloud.mat
  Assets/Project/Prefabs/Effects/EventEffects/Materials/BreakCloud.mat.meta
  Assets/Project/Prefabs/Effects/EventEffects/Materials/CloudDot.mat
  Assets/Project/Prefabs/Effects/EventEffects/Materials/CloudDot.mat.meta
  Assets/Project/Prefabs/Effects/EventEffects/Materials/FireCircle.mat
  Assets/Project/Prefabs/Effects/EventEffects/Materials/FireCircle.mat.meta
  Assets/Project/Prefabs/Effects/EventEffects/Materials/HitBrockCloud.mat
  Assets/Project/Prefabs/Effects/EventEffects/Materials/HitBrockCloud.mat.meta
  Assets/Project/Prefabs/Effects/EventEffects/Materials/SameHire.mat
  Assets/Project/Prefabs/Effects/EventEffects/Materials/SameHire.mat.meta
  Assets/Project/Prefabs/Effects/EventEffects/Same.prefab
  Assets/Project/Prefabs/Effects/EventEffects/Same.prefab.meta
  Assets/Project/Prefabs/Effects/EventEffects/Textures.meta
  Assets/Project/Prefabs/Effects/EventEffects/Textures/BlueCloud.png
  Assets/Project/Prefabs/Effects/EventEffects/Textures/BlueCloud.png.meta
  Assets/Project/Prefabs/Effects/EventEffects/Textures/BlueCloudDot.png
  Assets/Project/Prefabs/Effects/EventEffects/Textures/BlueCloudDot.png.meta
  Assets/Project/Prefabs/Effects/EventEffects/Textures/FireCircle.png
  Assets/Project/Prefabs/Effects/EventEffects/Textures/FireCircle.png.meta
  Assets/Project/Prefabs/Effects/EventEffects/Textures/GrayCloud.png
  Assets/Project/Prefabs/Effects/EventEffects/Textures/GrayCloud.png.meta
  Assets/Project/Prefabs/Effects/EventEffects/Textures/SameHire.png
  Assets/Project/Prefabs/Effects/EventEffects/Textures/SameHire.png.meta
  Assets/Project/Shaders/SailDissolveShader.meta
  Assets/Project/Shaders/SailDissolveShader/Materials.meta
  Assets/Project/Shaders/SailDissolveShader/Materials/SailDissolve.mat
  Assets/Project/Shaders/SailDissolveShader/Materials/SailDissolve.mat.meta
  Assets/Project/Shaders/SailDissolveShader/Shaders.meta
  Assets/Project/Shaders/SailDissolveShader/Shaders/SailDissolve.shadergraph
  Assets/Project/Shaders/SailDissolveShader/Shaders/SailDissolve.shadergraph.meta
  Assets/Project/Shaders/SailDissolveShader/Textures.meta
  Assets/Project/Shaders/SailDissolveShader/Textures/SailDissolveTex.png
  Assets/Project/Shaders/SailDissolveShader/Textures/SailDissolveTex.png.meta
  Assets/Scenes/noribenTestScene.unity
  Assets/Scenes/noribenTestScene/ReflectionProbe-0.exr
Labels: Effect

#143 船周り修正
  Assets/Project/Prefabs/Cloth/ClothDriftable_A.prefab
  Assets/Project/Prefabs/Cloth/ClothDriftable_A.prefab.meta
  Assets/Project/Prefabs/Coconut_A/CoconutDriftable_A.prefab
  Assets/Project/Prefabs/Coconut_A/CoconutDriftable_A.prefab.meta
  Assets/Project/Prefabs/Enemies/Shark/Shark.prefab
  Assets/Project/Prefabs/Rock_A/Rock_A_LOD0.prefab
  Assets/Project/Scenes/Sample/PlayerShipSample.unity
  Assets/Project/Scripts/Attack.cs
  Assets/Project/Scripts/PlayerShip.cs
Labels: Script

#146 海シェーダーのNormalMapをOpenGL形式のものに変更
  Assets/Project/Prefabs/Sea/Materials/SeaShader.mat
  Assets/Project/Prefabs/Sea/Textures/SeaNormal01openGL.png
  Assets/Project/Prefabs/Sea/Textures/SeaNormal01openGL.png.meta
Labels: Effect

#184 Modify damage flow
  Assets/Project/Scenes/Sample/PlayerShipSystemSample.meta
  Assets/Project/Scripts/Attack.cs
  Assets/Project/Scripts/PlayerShip.cs
Labels: Script

#210 #192　音声発生位置修正　BGMの追加
  Assets/Project/Prefabs/Driftables/Buoy/BuoyDriftable_A.prefab
  Assets/Project/Prefabs/Driftables/Buoy/BuoyDriftable_B.prefab
  Assets/Project/Prefabs/Driftables/Cloth/ClothDriftable_A.prefab
  Assets/Project/Prefabs/Driftables/Coconut_A/CoconutDriftable_A.prefab
  Assets/Project/Prefabs/Driftables/Log_A/LogDriftable.prefab
  Assets/Project/Prefabs/Driftables/SquareTimber_A/SquaredTimberDriftable.prefab
  Assets/Project/Prefabs/PlayerShip/PlayerManager.prefab
  Assets/Project/Prefabs/PlayingEnvironment/PlayingEnvironment.prefab
Labels: bug, Script, Sound

#211 敵と船の正規化した最短距離を返す関数を追加
  Assets/Project/Prefabs/PlayerShip/DistanceMeasure.prefab
  Assets/Project/Prefabs/PlayerShip/DistanceMeasure.prefab.meta
  Assets/Project/Prefabs/PlayerShip/New Material.mat
  Assets/Project/Prefabs/PlayerShip/New Material.mat.meta
  Assets/Project/Prefabs/PlayerShip/PlayerShip.prefab
  Assets/Project/Scripts/DistanceMeasure.cs
  Assets/Project/Scripts/DistanceMeasure.cs.meta
  Assets/Project/Scripts/EnemyManager.cs
  Assets/Project/Scripts/PlayerShipLocomoter.cs
  Assets/Project/Scripts/PlayerShipLocomoter.cs.meta
  Assets/Project/Scripts/Test.cs
Labels: Script

#218 #216　Enemiesの距離を取得してBGMを変化させる処理を追加
  Assets/Project/Prefabs/BGMs/PlayngSound.prefab
  Assets/Project/Prefabs/CameraRig/CameraRig.prefab
  Assets/Project/Prefabs/PlayerShip/DistanceMeasure.prefab
  Assets/Project/Prefabs/PlayerShip/PlayerManager.prefab
  Assets/Project/Prefabs/PlayerShip/PlayerShip.prefab
  Assets/Project/Scenes/Playing/Playing.unity
  Assets/Project/Scripts/BGMInteractive.cs
Labels: enhancement, Script, Sound

#227 エフェクト呼び出し実装
  Assets/Project/Prefabs/Driftables/Coconut_A/CoconutDriftable_A.prefab
  Assets/Project/Scripts/Fix.cs
  Assets/Project/Scripts/VFXEmitterComponent.cs
  Assets/Project/Scripts/VFXEmitterComponent.cs.meta
Labels: Script, Effect

#234 Drifablsにエフェクトを追加
  Assets/Project/Prefabs/Driftables/Buoy/BuoyDriftable_A.prefab
  Assets/Project/Prefabs/Driftables/Buoy/BuoyDriftable_B.prefab
  Assets/Project/Prefabs/Driftables/Cloth/ClothDriftable_A.prefab
  Assets/Project/Prefabs/Driftables/Coconut_A/CoconutDriftable_A.prefab
  Assets/Project/Prefabs/Driftables/Coconut_A/Coconut_A_LOD0.prefab
  Assets/Project/Prefabs/Driftables/Log_A/LogDriftable.prefab
  Assets/Project/Prefabs/Driftables/Log_A/LogDriftableLarge.prefab
  Assets/Project/Prefabs/Driftables/Log_A/LogDriftableMiddle.prefab
  Assets/Project/Prefabs/Driftables/Log_A/LogDriftableSmall.prefab
  Assets/Project/Prefabs/Driftables/Log_A/Log_A_LOD0.prefab
  Assets/Project/Prefabs/Driftables/SquareTimber_A/SquaredTimberDriftable.prefab
  Assets/Project/Prefabs/Driftables/VFXEmitterComponent.prefab
  Assets/Project/Prefabs/Driftables/VFXEmitterComponent.prefab.meta
  Assets/Project/Prefabs/Driftables/WoodenBoard_A/WoodenBoardDriftable.prefab
  Assets/Project/Prefabs/Driftables/WoodenBoard_A/WoodenBoardDriftableMiddle.prefab
  Assets/Project/Prefabs/Driftables/WoodenBoard_A/WoodenBoardDriftableSmall.prefab
  Assets/Project/Scripts/Fix.cs
  Assets/Project/Scripts/VFXEmitterComponent.cs
Labels: Effect
